<h1> <%= @college.name %> </h1>
<h2> <%= link_to "Add a professor to this college", new_workplace_path %>

<ul>
<% @professors.each do |professor|%>
    <li> <%= link_to professor.full_name, professor_path %> </li>
    <% professor.reviews.each do |review| %>
    <p> <%= review.content %> </p>
    <% end %>
<% end %>
</ul>