<div class="container-fluid">
    <div class="row justify-content-center mt-3">
        <h1> Update your review here for <%= @professor.full_name %>! </h1>
    </div>

    <%= render 'form' %>

</div>